{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1 class="font-weight-bold">About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 font-weight-bold text-center">
            <p>Launched in 2021, Our technology platform connects customers, restaurant partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover restaurants, read and write customer generated reviews and view and upload photos, order food delivery, book a table and make payments while dining-out at restaurants. On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and kitchen products to restaurant partners. We also provide our delivery partners with transparent and flexible earning opportunities.</p>
            <p>Want to know what's buzzing at the Swiggy side of the planet? There here is what you need to follow. We Are Swiggy channels on Social Media will give you an inside-out view of the everyday serious and fun stuff within our world. All you need to do is to click your preferred channel and make sure you follow us, Stay Tuned.</p>
            <p>From food guides to the culture inside, we are sure you are curious to learn more about what's happening inside and around the Swiggy world. Well, if that's the case, you have landed at the right spot. Swiggy Diaries is a journal of everything you need to know about our side of the planet. So dive in and get on with it.</p>
        </div>
    </div>
</div>
{% endblock content %}
